.line {
    width: 80%;
    height: 4px;
    /* background: linear-gradient(to right, #5DAC41 13.25%, #BFBFBF 13.25%); */
    margin-right: 10vw;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.line .year {
    background-color: #BFBFBF;
    border-radius: 50%;
    /* float: left; */
    position: relative;
    left: 5.3%;
    box-sizing: border-box;
    /* margin-right: calc(2.65% - 12.5px);
    margin-left: calc(2.65% - 12.5px); */
    width: 15px;
    height: 15px;
    top: -6px;
}
.line .year::before {
    content: attr(data-timelinelabel);
    position: absolute;
    top: -75px;
    left: -5px;
    width: 150px;
    transform: rotateZ(-45deg);
    display: block;
    font-size: 0.8em;
    font-weight: bold;
}
.line .year::after {
    content: attr(data-mobiletext);
    position: absolute;
    top: 23px;
    left: -15px;
    padding: 10px;
}

.line .complete {
    background-color: #5DAC41;
}
.line .dot.active {
    background-color: #5DAC41;
}

#timeline {
    width: 20vw;
    color: #34495E;
    margin: 10vh 0;
}
